ClaudeLovable.txt
{
  "name": "Email Wishes Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "first-agent",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -176
      ],
      "id": "62e93b93-1930-48b9-8b56-2a564f779371",
      "name": "Webhook",
      "webhookId": "788d5c36-cd93-40c0-9a6c-b8c3ebf5b746"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "query",
              "value": "={{ $json.body.query || 'Send email to ' + $json.body.email }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "template",
              "value": "={{ $json.body.template || 'birthday' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        -176
      ],
      "id": "extract-data-node",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Use the Gmail tool to send a \"{{ $json.template }}\" email to {{ $json.name }} at {{ $json.email }}. Include a warm message and a meaningful subject.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -160,
        -176
      ],
      "id": "36e70d35-d1f0-4153-8c2b-24e210b6419e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', '', 'string') }}",
        "subject": "={{ $fromAI('Subject', '', 'string') }}",
        "message": "={{ (() => {\n  const message = $fromAI('Message', '', 'string');\n  const signature = `\n<br><br>\nBest wishes always,<br>\nDominic Belavendram<br>\nGenAI Architect<br><br>\n<em style=\"color:gray;\">\"AI is not replacing humans; it's redefining what it means to be human.\"</em>\n  `;\n  return message + signature;\n})() }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        16,
        64
      ],
      "id": "cd452591-e782-4f07-b80d-3ee58b50e488",
      "name": "Send a message in Gmail",
      "webhookId": "3ff74588-a6f7-4ed0-b13a-1089ecf9e332",
      "credentials": {
        "gmailOAuth2": {
          "id": "19v8Ml7KYFXvJv6T",
          "name": "CoachDom_Gmail"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "global_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        96
      ],
      "id": "8dc10ed4-dad1-47d6-a2fa-1370af8f04fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        96
      ],
      "id": "5335610a-e2b2-4d91-ab43-a7c05369b18c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "o0Av2jJhpklKssM6",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "message",
              "value": "={{ 'Email sent successfully to ' + $('Extract Data').first().json.name }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "recipient",
              "value": "={{ $('Extract Data').first().json.email }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "template",
              "value": "={{ $('Extract Data').first().json.template }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -176
      ],
      "id": "7d58fbad-9f8b-4228-9458-6e8c6a81204c",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        280,
        -176
      ],
      "id": "7bc45fc1-386f-49b5-840f-37a8f6917048",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-10T00:00:00.000Z",
  "versionId": "1"
}